#nav-tp, #nav-bt {
    width: 100%;
    text-decoration: none;
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    font-weight: 900;
}

#nav-tp a,#nav-bt a{
    padding: 10px;
    color: #4CAF50;;
    font-size: 25px;
    text-decoration: none;
}

.main{
    min-height: 90vh;
}

#nav-tp a:hover, #nav-bt a:hover{
    padding: 10px;
    color: black;
    background-color: antiquewhite;
}
#i-content, #c-content ,#projects,#skills{
    background-image:url(images/bgindex.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
}

.article {
    
    padding: 20px;
    align-content: space-between;
    font-size: 20px;
    color: antiquewhite;
    background-color: rgba(248, 249, 249, 0.4);
}
.head1{
    background-color: rgba(248, 249, 249, 0.4); 
    border: 2px dotted whitesmoke;
    padding: 3vh;
    font-size: 4vh;
    font-weight: 900;
    margin-bottom: 5vh;
    border-radius: 60px;
    text-align: center;
    width: fit-content;
}
.avatar img{
    border-radius: 50%;
    height: 4git00px;
    width: 400px;
    margin: auto;
}

.i-rightc, .i-leftc{
    
    margin: auto;
    
}

/* contacts page styling main section */
#c-content{
    margin: auto;
    justify-content: space-evenly;
    
}
#c-content-inner table{
    background-color: rgba(248, 249, 249, 0.4); 
    justify-content: space-evenly;
    align-content: auto;
    
    border-radius: 20%;
    font-size: 3vh;
    padding: 10vh;
    margin-top: 30vh;
   

}
th {
    padding: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    margin: 10px;
  }

  table td {
    border: 1px solid rgb(168, 36, 36);
    padding: 8px;
    text-align: center;
    min-width: 20vh;
    font-weight: 900;
    
  }
  #c-head{
      margin-bottom: 10px;
      background-color: #ddd; 
      color: black;
      font-size: 4vh;

  }

  i{
      width: 6px;
      height: 6px;
      
      
  }
  #copyrights:hover{
      background-color: black;
  }

/* Beginning of projects file styling */


.p-content img{
    height: 300px;
    width: 500px;
    border-radius: 10%;
}

.p-content{

    padding: 30px;
    margin: auto;
    
    color: antiquewhite;
    background-color: rgba(248, 249, 249, 0.4); 
    border-radius: 10vh;
    width: 90%;
    text-align: center;
}



.footer{
    margin-bottom: 0px;
    
}

/* styling for skills page */


.intro{
    display: flex;
}

.skills{
    display: flex;
    justify-content:space-evenly;
}
.skills div{
    
    padding:3vh ;
    background-color: rgba(248, 249, 249, 0.4); 
    border-radius: 30px;
    margin: 5vh;

}

.desc{
    width: fit-content;
}

.desc span{
    display: flex;
    justify-content: space-around;
}




.article{
    font-size: 3vh;
    border-radius: 10vh;
    
}

/* head intro */
.intro{
    background-color: rgba(248, 249, 249, 0.4);
}

#intro-l{
    background-color: rgba(10, 10, 10, 0.808);
}

#intro-r{
    margin: auto;
}

.article h3, #intro-r h2, .skills div h4, .p-content h3{
    font-weight: 900;
    font-size: 4vh;
    background-blend-mode: multiply;
    color: black;
    text-decoration: underline;
    color: rgb(0, 199, 7);
    
}

#intro-r p{
    font-size: 3vh;
}

.proj-c{
    display: flex;
    justify-content: space-around;
    width: 100%;
    
}

/* .proj{
    border: 2px solid black;
    padding: 5vh;
} */
 
.proj div{
    width: 50vh;
}

.proj span{
    background-color: #4CAF50;
    padding: 1vh;
    border-radius: 20%;
    font-weight: 900;;
    color: black;
    font-size: 3vh;
}

.btn{
 margin:3vh;   
}

.btn a{
    padding: 20px;
    background-color: #4CAF50;
    border-radius: 40%;
    margin: 5vh;
    font-weight: 900;;
    color: black;
    font-size: 2vh;
    
}


.btn a:hover{
    background-color: black;
    color:lightsalmon;
}
.proj p ,.skills p,#art p,#art li{
    margin: 1vh;
    font-size: 3vh;
    color: black;
    background-blend-mode: soft-light;
}




@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }